.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    .sitePickerHidden {
        display: none;
    }

    .userEmailEmptyError {
        color: #ff0000;
    }
}
