.timeSliderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid #808080;
    padding: 8px;

    .headerLabel {
        padding: 5px 0 10px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .time {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
    }

    .slider {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .buttonsGroup {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
}
